mixin projectsList(data)
  .courseList.projects
    h1 Projects
    .actions.flex
      - //button
      - //  svg
      - //    use(xlink:href='#edit')
      - //  | Register your project
      .filter.flex
        input(type='text' placeholder='Filter') 
        svg
          use(xlink:href='#search')
    table
      each project in data
        tr(data-url=project.url)
          td #{project.name}
          td #{project.teachers}
          td
            button Details

    .modal.flex.projects
      .content
        .title
          h1 Project title
        iframe(src='')
