mixin header(small)
  include menu.jade
  include title.jade
  - className = small ? ' small' : ''
  section.header(class=className)
    .heading.flex
      svg
        use(xlink:href="#badge_white")
      .separator
      +menu
    +title
    .scroller.flex.column
      h1 See what we do
      svg
        use(xlink:href="#arrow_down")