mixin menu
  ul.menu.flex
    a(href='/')
      li.mobile 
        svg
          use(xlink:href='#menu')
    a(href='/people')
      li people
    a(href='/bachelor')
      li bachelor
    a(href='/master')
      li master
    a(href='/phd')
      li PhD
    a(href='#')
      li 
        svg
          use(xlink:href='#fb')
    a(href='#')
      li
        svg
          use(xlink:href='#mail')