mixin title
  .title.flex
    .text
      h2 develop
      h1 your skills
    ul.icons.flex.column
      li 
        svg
          use(xlink:href='#phone')
      li 
        svg
          use(xlink:href='#window')
      li 
        svg
          use(xlink:href='#remote')
      li 
        svg
          use(xlink:href='#box')
      li 
        svg
          use(xlink:href='#radio')