section.people {
  @import 'person';
  @import 'modal';

  // Background color should match background image edge
  background-color: #F6BC00;
  background-image: url(../img/people.jpg);

  @media screen and (max-width: $mobileLandscapeL) {
    background-image: none;
  }

  > p {
    display: block;
    text-align: center;
    max-width: 500px;
    margin: 30px auto;
  }

  .peopleList {
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:after {
      content: '';
      display: block;
      flex: 1;
    }
  }
}