.person {
  align-items: center;
  margin-bottom: 20px;
  width: calc(100% / 4);

  @media screen and (max-width: $laptop) {
    width: calc(100% / 3);
  }

  @media screen and (max-width: $tablet) {
    width: 50%;
  }

  @media screen and (max-width: $mobileL) {
    width: 100%;
  }

  img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;

    margin: 0 10px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
  }

  .social svg {
    width: 25px;
    height: 25px;
  }
}