// Common section styles

$beforeAfterBorder: 1px solid $gray;

section {
  &:not(.header) {
    padding: 15px 5vw;
  }

  @media screen and (max-width: $mobileLandscapeL) {
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
  }

  > h1 {
    text-align: center;
    font-weight: 100;
    font-size: 60px;

    &:before,
    &:after {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;

      content: '';
      border-top: $beforeAfterBorder;
      border-bottom: $beforeAfterBorder;

      width: 15vw;
      height: 3px;
      
    }

    @media screen and (max-width: $mobileLandscapeL) {
        font-size: 40px;
    }
  }

  &.backgrounded {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50% auto;

    &.left {
      background-position: left center;
    }
  }
}