// Variables used throughout the styles

// Resolutions
$mobileL: 468px;
$mobileM: 380px;
$mobileS: 320px;

$mobileLandscapeS: 640px;
$mobileLandscapeM: 732px;
$mobileLandscapeL: 740px;

$tablet: 768px;

$desktopS: 1024px;
$desktopM: 1440px;
$desktopL: 1920px;

$laptop: 1366px;

// Colors
$gray: #CCCCCC;
$darkGray: #999999;