mixin about
  section.about.backgrounded#about
    h1 About
    .text
      h1
      p We share with students the thrill of exploring today’s information architectures, and we learn through teaching. Our courses start from the nuts and bolts of Operating Systems, to flows and risks in computer networks, to extended capacities through mobile platforms, the smart environment of the Internet of Things, and distributed collaboration in peer to peer networks. 

      p.italic “We can't impose our will on a system. We can listen to what the system tells us, and discover how its properties and our values can work together to bring forth something much better than could ever be produced by our will alone.” (Donella H. Meadows)

      .domains
        h1 Domains
        ul.flex
          li.flex.column
            svg
              use(xlink:href='#phone')
            span mobile platforms
          li.flex.column 
            svg
              use(xlink:href='#window')
            span network architectures
          li.flex.column 
            svg
              use(xlink:href='#remote')
            span peer to peer
          li.flex.column 
            svg
              use(xlink:href='#box')
            span operating systems
          li.flex.column 
            svg
              use(xlink:href='#radio')
            span wireless sensor networks  