mixin about
  section.about
    h1 About
    .text
      h1 We do education
      p Sed quis sollicitudin libero, ut malesuada risus. Donec ac arcu vel urna pharetra pharetra. Pellentesque sed euismod lorem. Nullam elementum, ante ut tempor dictum, dui sem venenatis arcu, at aliquam mi lacus vel nunc. Cras risus ex, euismod vitae turpis ut, sollicitudin faucibus nisi.
    
      .domains
        h1 Domains
        ul.flex
          li.flex.column
            svg
              use(xlink:href='#phone')
            span mobile platforms
          li.flex.column 
            svg
              use(xlink:href='#window')
            span network architectures
          li.flex.column 
            svg
              use(xlink:href='#remote')
            span peer to peer
          li.flex.column 
            svg
              use(xlink:href='#box')
            span operating systems
          li.flex.column 
            svg
              use(xlink:href='#radio')
            span wireless sensor networks  