section.about {
  @import 'text';

  // Background color should match background
  // image edge
  background-color: #F9F9F9;
  background-image: url(../img/about.jpg);
  
  @media screen and (max-width: $mobileLandscapeL) {
    background-image: none;
  }

  p.italic {
    margin: 20px 0;
    font-style: italic;
  }
}