section.about {
  @import 'text';

  // Background color should match background
  // image edge
  background-color: #F9F9F9;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% auto;

  @media screen and (max-width: $mobileLandscapeL) {
    background-image: none;
  }
}