mixin people(data)
  include list.jade
  section.people.backgrounded.left
    h1 People
    p Pellentesque in magna justo. Sed massa lorem, sodales sed venenatis vitae, posuere et ex. Nunc tincidunt est id justo dictum sollicitudin. Donec eu bibendum nisl. Sed eget mi purus. Integer posuere ex nec ex laoreet, nec pharetra entesque. 
    .peopleList.flex
      +list(data)
    .modal.flex
      .content
        .title.flex
          .heading.flex.column
            h1
            h2
          .separator
          ul.social.flex
            a.mail
              li
                svg 
                  use(xlink:href='#mail')
            a.facebook
              li
                svg 
                  use(xlink:href='#fb')
            a.linkedin
              li
                svg 
                  use(xlink:href='#linkedin')
        .info.flex
          .photo
          .details.flex.column
            p
            .list