include ../_partials/header/header
include ../_partials/people/people
include ../_partials/courses/courseList/courseList
include ../_partials/courses/projectsList/projectsList

+header(true)
section.course
  h1 Bachelor
  p Pellentesque in magna justo. Sed massa lorem, sodales sed venenatis vitae, posuere et ex. Nunc tincidunt est id justo dictum sollicitudin. Donec eu bibendum nisl. Sed eget mi purus. Integer posuere ex nec ex laoreet, nec pharetra entesque.

  .flex.center.wrap
    +courseList(public._data.Courses.filter(x => x.type === 'bachelor'), public._data.Hitlists)
    +projectsList(public._data.Projects.filter(x => x.type === 'bachelor'))
+people(public._data.People)