include ../_partials/header/header
include ../_partials/people/people
include ../_partials/courses/courseList/courseList
include ../_partials/courses/projectsList/projectsList

+header(true)
section.course
  h1 Bachelor
  p It all starts with meeting new teachers, mentors, colleagues and friends. Get a first taste of engineering in Operating Systems and Computer Networks, then go in depth to explore Design and security challenges. Test your insights with a diploma project in Systems’ research group, and break new ground through mentored research and development.

  .flex.center.wrap
    +courseList(public._data.Courses.filter(x => x.type === 'bachelor'), public._data.Hitlists)
    +projectsList(public._data.Projects.filter(x => x.type === 'bachelor'))
+people(public._data.People)